/* color palette from <https://github.com/vuejs/theme> */
:root {
	--primary: #2a9d8f;
	--secondary: #9381ff;
	--warning: #de0d92;
	--input_dark: #c2c2c2;
	--dark: #333333;
	--white: #eaebed;
	--display_item: #dedede;
}

html,
body,
#app {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--dark);
}

button,
a {
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

#app {
	display: flex;
	flex-direction: column;
}

button {
	outline: none;
	background: none;
	border: none;
}
